:root {
    --bg-color: #979797;
  }
.App{
    width: 100%;
    height: auto;
    background: var(--bg-color)
}
textarea{
  resize: none;
}






  @import "./EntryPage.scss";
  @import "./Registration.scss";
  @import "./MainPage.scss";
  @import "./AccountCreation.scss";
  @import "./AccountList.scss";