.entry-section {
  height: 100vh;
  .login-inputs {
    min-width: 250px;
    margin: 0 20%;
    margin-bottom: 30px;
    input {
      min-width: 200px;
    }
  }
  .entrypage-buttons {
    min-width: 200px;
    margin: 0 20%;
    button {
      width: 200px;
    }
  }
}
@media screen and (max-width: 450px) {
  div {
    display: flex;
    flex-direction: column;

    input,
    button {
      width: 100%;
      margin: 2.5px 0;
    }
  }
}
