.form {
  .form-body {
    div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      span{
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .form-body {
    div {
      flex-direction: column;
    }
  }
}
