.form {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form-body {

    min-width: 350px;
    .username {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    .password {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    .confirm-password {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  }
}
